* {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(176, 255, 241, 0.69);
}

input {
    border: white;
    border-radius: 5px;
    margin: 5px;
    height: 30px;
}

.App {
    margin: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student {
    margin: 10px;
    padding: 5px;
    background-color: #ffffff;
    border: solid black;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.delete {
    width: 25px;
    height: 25px;
}

.addUser {
    width: 80px;
    height: 30px;
}

.list {
    width: 200px;
    height: 40px;
    margin: 10px;
}
